/* || GENERAL STYLES */

body {
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0px;
  }
  
  h1,
  h2,
  h3,
  h4 {
    /* … */
  }
  h1, h2 {
    font-weight: bolder;
  }

  ul {
    list-style: none;
  }
  
  blockquote {
    /* … */
  }

  /* || UTILITIES */

.nobullets {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  /* … */

  /* || SITEWIDE */


.header, .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.header-links, .footer-links {
    display: flex;
    gap: 16px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid p {
    max-width: 200px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 200px;
}


  /* || STORE PAGES */

.flexible img, .feedback img, .training img, .quote img {
   width: 200px;
}

.header, .intro {
    color: white;
    background-color: #1F2937;
}